# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Build & Packaging
build/
dist/
*.spec
*.exe

# IDEs
.vscode/
.idea/
*.code-workspace

# Data & OS
cache/
*.log
*.txt
!requirements.txt
!PROJECT_STRUCTURE.md
!exclude_list.txt
!exclude_tess.txt

# SHBM Specific
outputs/
test_output/
debug_output/
temp/
